<!-- <h1> File uploader! </h1>
<form method="post" enctype='multipart/form-data'>   
    <input type='file' name='myfile'>    
    <br>
    <input type='submit' value='Upload!'>
</form> -->

<div class="container">
  <div class="errors">
  <h2> Create Album </h2>
  <form action="/album/new" method="post" enctype="multipart/form-data">
      Album Title: <input type="text" name="title">
      Description: <input type="text" name="description">
    <ul>
    <br>
    <input class="mybutton2" type="submit" value="Upload a Photo">
    </ul>
  </form>
</div>

